<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Iniciar sesión</h3>
                <div class="inputs mb-3">
                    <form action="login">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="text" class="form-control" placeholder="Usuario">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" placeholder="******"/>
                        <br>
                        <button type="submit" class="btn btn-primary form-control">Inicar sesión</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</body>

