
<div class="row w-100 p-3">
  <div class="col d-flex">
    <form #Searchform="ngForm" (submit)="findByTags()" class="d-flex mb-3" role="search">
      <mat-form-field class="w-50">
        <mat-label>Buscar por</mat-label>
        <mat-select [(ngModel)]="payload.field" name="select">
          <mat-option [value]="item" *ngFor="let item of options">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput [placeholder]="payload.field" name="value" [(ngModel)]="payload.value">
      </mat-form-field>
      <button mat-raised-button class="" type="submit">Buscar</button>
    </form>
  </div>
  <div class="col d-flex">
    <mat-button-toggle-group class="h-50">
      <mat-button-toggle (click)="tOrder()">Titulo {{tArrow}}</mat-button-toggle>
      <mat-button-toggle (click)="pOrder()">Precio {{pArrow}}</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-raised-button color="primary" *ngIf="tokenRole=='admin'" (click)="addGame()">Nueva<mat-icon>add</mat-icon></button>
  </div>
</div>
<section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="tittle">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let game" >
          <img src="../../../../assets/img/default/gameport.png" class="port">
          <p>{{game.tittle}}</p>
        </td>  
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Ficha </th>
        <td mat-cell *matCellDef="let game">
          <p>Estudio: {{game.studio}}</p>
          <p>Descripción: {{game.description}}</p>
          <p>Idiomas: {{game.languages}}</p>
          <p>Género: {{game.genre}}</p>
          <p class="input-group mb-3"><span class="input-group-text">Calificación:</span> 
            <rating class="form-control" style="color: #f9fd00;font-size: 25px;" [(ngModel)]="game.rate" [readonly]="true" [ngModelOptions]="{standalone: true}">
            </rating>
          </p>
        </td>
      </ng-container>
      <ng-container matColumnDef="inventory">
        <th mat-header-cell *matHeaderCellDef> Detalles de venta </th>
        <td mat-cell *matCellDef="let game">
          <p>Precio: ${{game.price}}</p> 
          <p>Stock: {{game.stock}}</p> 
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let game" >
          <div *ngIf="game.status=='Disponible'"class="active"></div>
          <div *ngIf="game.status=='Agotado'"class="inactive"></div> 
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <div *ngIf="tokenRole=='admin'">
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let game"(click)="updateGame(game)"></tr>
      </div>
      <div *ngIf="tokenRole=='employee'">
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let game"></tr>
      </div>
    </table>
  </section>