<div class="row">
    <div mat-dialog-title class="col"><h1>Nuevo juego</h1></div>
    <div class="col right">
        <button mat-mini-fab matTooltip="Cerrar" color="warn" (click)="close()"><mat-icon>cancel</mat-icon></button>
    </div>
</div>
<form #NewMovieForm="ngForm" class="cont"novalidate (submit)="send()">
    <div mat-dialog-content>
        <div class="input-group mb-3">
            <span class="input-group-text">Título</span>
            <input type="text" matInput required name="tittle" #name="ngModel" [(ngModel)]="game.tittle" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Precio</span>
            <input type="text" matInput required name="price" #name="ngModel" [(ngModel)]="game.price" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Existencias</span>
            <input type="text" matInput required name="stock" #name="ngModel" [(ngModel)]="game.stock" class="form-control">
        </div>
        <rating  style="color: #0275d8;font-size: 40px;" [(ngModel)]="game.rate" [max]="max" [readonly]="isReadonly">
        </rating>
        <div class="input-group mb-3">
            <span class="input-group-text">Título</span>
            <input type="text" matInput required name="tittle" #name="ngModel" [(ngModel)]="game.tittle" class="form-control">
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="right">
            <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
            <button mat-raised-button  type="submit">Hecho</button>
        </div>
    </div>
</form>